/* Colors */
$ml-cl-clean: #fdfdfd;
$ml-cl-yellow: #ffe600;
$ml-cl-darkBrown: #333333;
$ml-cl-gray: #999999;
$ml-cl-cleanGray: #EEEEEE;
$ml-cl-blue: #3483FA;

/* Sizes */
$ml-sz-4: 4px;
$ml-sz-12: 12px;
$ml-sz-14: 14px;
$ml-sz-16: 16px;
$ml-sz-18: 18px;
$ml-sz-24: 24px;
$ml-sz-28: 28px;
$ml-sz-32: 32px;
$ml-sz-46: 46px;
$ml-sz-180: 180px;
$ml-sz-680: 680px;