.ml-detail-information {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2.5fr 1fr;
}

.ml-detail-img {
    display: grid;
    justify-content: center;
    img {
        width: $ml-sz-680;
    }
}

.ml-detail-others {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    margin-right: $ml-sz-32;
    span:not(:nth-of-type(2)), button {
        margin-top: $ml-sz-32;
    }
    span {
        &:nth-child(1) {
            margin-bottom: $ml-sz-16;
            font-size: $ml-sz-14;
        }
        &:nth-child(2) {
            font-size: $ml-sz-24;
        }
        &:nth-child(3) {
            font-size: $ml-sz-46;
        }
    }
    button {
        padding: 15px 0;
        color: white;
        background: $ml-cl-blue;
        border: none;
        cursor: pointer;
        border-radius: $ml-sz-4;
    }
}

.ml-detail-description {
    margin-left: $ml-sz-32;
    h2 {
        font-size: $ml-sz-28;
    }
    p {
        width: 70%;
        font-size: $ml-sz-16;
        color: $ml-cl-gray;
    }
}