.ml-container-results {
    grid-column: col-start 2 / span 10;
    @include responsive(medium) {
        grid-column: col-start 1 / span 12;
    }
    @include responsive(small) {
        grid-column: col-start 1 / span 12;
    }
}

.ml-container-results {
    background: $ml-cl-clean;
}

.ml-item-result {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: ($ml-sz-180 + $ml-sz-16*2) 3fr 1fr;
    color: $ml-cl-darkBrown;
    position: relative;
    cursor: pointer;
    &:not(:last-of-type):before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 97%;
        left: 50%;
        transform: translateX(-50%);
        border-bottom: 1px solid $ml-cl-cleanGray;
    }
    @include responsive(small) {
        grid-template-columns: ($ml-sz-180 + $ml-sz-16*2)*.8 3fr 1fr;
    }
}

.ml-item-image {
    margin: $ml-sz-16;
    img {
        width: $ml-sz-180;
        height: $ml-sz-180;
        border-radius: $ml-sz-4;
    }
}
.ml-item-detail, .ml-item-ubication {
    padding: $ml-sz-16 0;
}

.ml-item-price {
    margin-bottom: $ml-sz-32;
    position: relative;
    img {
        width: 20px;
        margin-left: 10px;
        position: absolute;
        bottom: 2px;
    }
}

.ml-price-value {
    font-size: $ml-sz-24;
}

.ml-desciption-value {
    font-size: $ml-sz-18;
}

.ml-ubication-value {
    font-size: $ml-sz-12;
    color: $ml-cl-gray
}