/* Custom color placeholder */
@mixin placeholder-color($color) {
    &::-webkit-input-placeholder { /* WebKit browsers */
        color: $color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: $color;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: $color;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10+ */
        color: $color;
    }
}

/* Media Querys */
@mixin responsive($breakpoint) {
    @if($breakpoint == medium)  {
      @media (max-width: 992px) { @content }
    }
    @if($breakpoint == small)  {
      @media (max-width: 768px) { @content }
    }
}