.ml-bar-container {
    width: 100%;
    height: 60px;
    background: $ml-cl-yellow;
    
}
.ml-grid-searchbar {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 20px;
    grid-auto-flow: column;
}

.ml-form-logoML {
    grid-column: col-start 2 / span 1;
    align-self: center;
    img {
        height: 40px;
        width: 60px;
    }
    @include responsive(medium) {
        grid-column: col-start 1 / span 1;
    }
    @include responsive(small) {
        grid-column: col-start 1 / span 1;
    }
}

.ml-input-icon {
    cursor: pointer;
}

.ml-form-container {
    display: grid;
    grid-column: col-start 3 / span 9;
    grid-template-columns: 15fr 1fr;
    grid-auto-flow: column;
    margin: 10px 0;
    input {
        border: none;
        font-size: $ml-sz-18;
        padding: 0 20px;
        border-radius: 4px 0 0 4px;
        outline: none;
        @include placeholder-color($ml-cl-gray);
    }
    span {
        display: grid;
        background: $ml-cl-cleanGray;
        border-radius: 0 4px 4px 0;
        img {
            margin: auto;
            max-height: 50%;
        }
    }
    @include responsive(medium) {
        grid-column: col-start 2 / span 11;
    }
    @include responsive(small) {
        grid-column: col-start 2 / span 11;
    }
}