@import 'constants';
@import 'mixin';
@import 'searchBar';
@import 'itemResults';
@import 'itemDetail';
@import 'barloading';


body {
    margin: 0;
	padding: 0;
	border: 0;
	background: $ml-cl-cleanGray;
}

.ml-container-responsive {
	width: 90%;
	margin: 0 auto;
	@include responsive(small) {
        width: 95%;
    }
}

.ml-grid-columns {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    grid-gap: 0 20px;
    grid-auto-flow: column;
}

.ml-container-general {
    background: $ml-cl-clean;
    grid-column: col-start 2 / span 10;
    @include responsive(medium) {
        grid-column: col-start 1 / span 12;
    }
    @include responsive(small) {
        grid-column: col-start 1 / span 12;
    }
}

.ml-container-breadcrumb {
	grid-column: col-start 2 / span 10;
	@include responsive(medium) {
        grid-column: col-start 1 / span 12;
    }
    @include responsive(small) {
        grid-column: col-start 1 / span 12;
    }
}

.ml-breadcrumb-path {
    padding: $ml-sz-16 0;
    list-style: none;
    margin: 0;
    li {
        display: inline;
        font-size: $ml-sz-14;
        color: $ml-cl-gray;
        &:not(:first-of-type):before{
            padding: 8px;
            content: "\003E";
            color: $ml-cl-gray; 
        } 
        &:last-child {
            color: $ml-cl-darkBrown;
        }	
    }
	
    
}